body {
  margin: 0;
  padding: 0;
  font-family: "Roboto",sans-serif;
  background-color: #FCB5AC;
}

h1 {
  text-align: center;
  margin-top: 40px;
  color: #3D5B59;
  text-shadow: 0 0 2px 2px #333;
  text-shadow: 0 0 3px rgba(0,0,0,.25);
  font-family: 'Lobster', cursive;
}